:root {
  --primary-bgc: #F7F7F7;
  --secondary-bgc: #121212;
  --primary-text-color: #121212;
  --secondary-text-color: #F7F7F7;
  --logo-text-color: #D8D7D7;
}

/* Reset styles */
body {
    background-color: var(--primary-bgc);
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  outline: 2px solid red;
}

.container {
  padding: 0px 20px;
  margin: 0 auto;
}

.mobile-header {
  display: flex;
  background-color: var(--secondary-bgc);
  align-items: center;
  gap: calc((100% / 2) - 112px + 28px);
  padding: 20px 20px;
}

.burger-button {
  width: 28px;
  height: 28px;
}

.logo-name {
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.57em;
  letter-spacing: 0.18em;
}

.logo-text {
  color: var(--logo-text-color);
  font-size: 6px;
  line-height: 1.33em;
  letter-spacing: 0.18em;
}